

/*背景色指定*/
 body { background-color:#F0FFF0; }

 body {
   margin: 0;

}

/*.box2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 177px;
}*/

* {/*全ての要素に*/
 margin : auto;
 padding: 0px;

}

.page {/*ページ全体に*/
	width: 1080px;
	text-align: center;
	background-color: #FFF;
	height: auto;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	float: left;
	clear: none;
}


/*サイドメニューのcss*/
.ggo {
	font-size: 100%;/*メニューバーの文字の大きさ*/
	text-align: center;
	font-weight: bold;
	width: 230px;/*背景の横幅*/
	color: #630;
	background-color: #D8FF9D;
	float: left;/*menuの*/
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	padding: 0px;
}

.ggo li {/*リストの横幅と位置*/
	font-size: 100%;
	color: #630;
	list-style-type: none;
	width: 210px;
	float: left;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	list-style-position: inside;
}

.ggo li a {/*リンク編集*/
	text-decoration: none;
	border-right-width: 10px; /*ボタンの右幅*/
	border-bottom-width: 1px;
	border-left-width: 10px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #660;
	border-left-color: #660;
	border-right-color: #660;
	background-color: #FFC;
	width: 210px;
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
	color: #030;
}

.ggo li a:hover {/*マウスオバー*/
	color: #FFC;
	background-color: #808040;
	border-left-width: 10px;
	border-left-style: solid;
	border-left-color: #FFC;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-right-width: 10px;
	border-right-style: solid;
	border-right-color: #FFC;
	border-bottom-color: #FFC;
}

h1{/*一言のタイトル編集*/
  font-size: 30px;
  text-align: center;
  float: center;
}

.kom { /*一言のブロック編集*/
   text-align: left;
   font-weight: normal;
   font-size: 20px;
   width: 450px;
   height: 300px;
   background-color: #FFFF99;
   margin-top: 50px;
   padding: 10px;
   float: center;
   border-radius: 7em;

}

.kom2 {/*一言の編集*/
    margin-top: 30px;
    text-align: center;
    float: center;
}

.kom3{/*一言の編集後半*/
   text-align: center;
   float: center;
}

/*食材紹介*/
.saku{/*食材紹介のボックス編集*/
   text-align: center;
   font-weight: normal;
   font-size: 12px;
   width: 900px;
   height: 1500px;
   background-color: #FFD5EC;
   margin-top: 100px;
   padding: 10px;
   float: center;
   border-radius: 7em;
}

.kome{/*米の紹介編集*/
  position: left;
   float: left;
   margin-top: 40px;
   margin-left: 70px;
   margin-right: 85px;
   margin-bottom: 40px;
}

.niku{/*肉の紹介編集*/
   position: right;
   float: right;
   margin-top: 40px;
   margin-right: 70px;
   margin-left: 70px;
   margin-bottom: 40px;

}

.nin{/*ニンジン紹介編集*/
   position: right;
   float: right;
   margin-top: 30px;
   margin-left: 70px;
   margin-right: 70px;
   margin-bottom: 40px;
}

.jaga{/*じゃがいも紹介編集*/
    position: left;
    float: left;
    margin-left: 70px;
    margin-top: 30px;
    margin-right: 85px;
    margin-bottom: 40px;
}

.tama{/*玉ねぎ紹介編集*/
   position: right;
   float: right;
   margin-right: 70px;
   margin-left: 70px;
   margin-top: 30px;
   margin-bottom: 40px;
}

.tom{/*トマト紹介編集*/
   position: left;
   float: left;
   margin-left: 70px;
   margin-top: 30px;
   margin-right: 85px;
   margin-bottom: 40px;
}

.resi{/*レシピ紹介編集*/
  position: center;
  clear: center;
  margin-top: 1000px;
  width: 500px;
  height: 400px;
  background-color: #FFFFFF;
  border-radius: 7em;
}

.resi1{/*レシピ見出し編集*/
  font-size: 70px;

}

.gut{/*グッズ・ディスコボックス編集*/
  text-align: center;
  font-weight: normal;
  font-size: 12px;
  width: 900px;
  height: 950px;
  background-color: #FFD5EC;
  margin-top: 100px;
  padding: 10px;
  float: center;
  position: auto;
  border-radius: 7em;
}

.datu{/*脱サラ編集*/
  text-align: left;
  float:left;
  margin-top: 40px;
  margin-left: 70px;
}

.tan{/*草原編集*/
   text-align: left;
   float: right;
   margin-right: 70px;
   margin-top: 40px;
}

.taka{/*宝箱編集*/
   float: right;;
   text-align: left;
   margin-top: 50px;
   margin-right: 70px;
}

.kusa{/*雑草編集*/
   float: left;
   text-align: left;
   margin-top: 25px;
   margin-left: 70px;
}

.tanbo{/*田んぼ編集*/
   float: right;
   text-align: center;
   margin-top: 40px;
   margin-right: 70px;
}

 /*グッズ全体の編集*/
.gg{
  text-align: center;
  font-weight: normal;
  font-size: 12px;
  width: 900px;
  height: 1000px;
  background-color: #FFD5EC;
  margin-top: 100px;
  padding: 10px;
  float: center;
  border-radius: 7em;
}

.bs{/*帽子編集*/
   text-align: center;
}



.tao{/*タオル編集*/
  float: left;
  margin-top: 40px;
  margin-left: 70px;
}

.sto{/*ストラップ*/
   float: right;
   margin-top: 40px;
   margin-right: 70px;
}

.tei{/*家庭菜園セット編集*/
  text-align: center;
  font-weight: normal;
  width: 900px;
  height: 680px;
  background-color: #FFD5EC;
  margin-top: 100px;
  padding: 10px;
  float: center;
  border-radius: 7em;
}

/*ジョウロの位置指定*/
.tei4{
   float: left;
   margin-top: 20px;
   margin-left: 70px;
}

.tei5{/*苗の位置指定*/
   float: right;
   margin-top: 20px;
   margin-right: 70px;
}
/*目玉商品紹介*/
.tori{
  text-align: center;
  font-weight: normal;
  width: 900px;
  height: 680px;
  background-color: #FFD5EC;
  margin-top: 100px;
  padding: 10px;
  float: center;
  border-radius: 7em;
}
