form {/* フォームをページの中央に置く*/
      margin: 0 auto;;
      width: 300px;
      /*フォームの範囲がわかるように*/
      padding: 4em;
      border: 5px solid #ccc;
      border-radius: 7em;

        }

form div + div {/*フォーム間にスペースを空けている*/
                 margin-top: 1em;
}

label { /*ラベルを同じサイズに*/
  　　　display: inline-block;
        width: 300px;
        float:left;

  }

input, textarea {/*フォント設定の統一*/
                 font: 1em sans-serif;
                 /*テキストフィールドを同じサイズに*/

                 width: 300px;
                 -moz-box-sizing: border-box;
                 box-sizing: border-box;
　　　　　　　　　/*テキストフィールドのボーダーの外見の統一*/
                 border: 1px solid #999;

                }

input:focus, textarea:focus {/*要素を強調*/
                             border-color: #000;
                             }

textarea {/*複数行のテキストをラベルに揃える*/
          vertical-align:top;
          /*テキスト入力領域をあたえる*/
          height: 10em;
          /*垂直方向にリサイズできる*/
          resize: vertical;

         }

.button {/*ボタンを他のテキストフィールドと同じ場所に置く*/
         padding-left: 70px;
}
button {/*ボタンをテキストフィールドの間のスペースをそろえる*/
        margin-left: .5em;
}
p { text-align: center;}

body{ background-image: url("79.jpg");}
