/*body*/
body {
  margin: 0;
}

.bg {
    margin: 0;
    background: url(image/back-ground.jpg) no-repeat center center fixed;
}




/*トップタイトル*/

.box1 {
    display: block;
    width: auto;
    position: relative;
}

.box1 #pig1 {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.box1 h1 {
    margin: 5px;
    font-size: 100px;
    text-align: center;
    padding: 20px 0;
    font-family: 'Alfa Slab One', cursive;

}

.box1 a {
  text-decoration: none;
  color: red;
}


/*アクセスカウンタ*/


/*クリアフィクス・フロート時にdiv直下のレイアウトが崩れないようにするため*/

.counter:after {
    display: block;
    content: "";
    clear: both;
}

.counter table {
    display: block;
    float: right;
}


/*メニューバー*/
.box2 {
  position: relative;
  z-index: 5;
}

.box2 ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.box2 li {
    /*リストの横幅と各リンクを左寄せ*/
    width: 20%;
    float: left;
    padding: 30px 0;
    text-align: center;
    vertical-align: middle
}

.box2inner {
    background-color: rgb(14, 150, 23);
    opacity: 1;
}

.box2 li a {
    /*リンク編集*/
    padding: 15px;
    color: #000000;
    font-size: 16px;
    font-weight: 900;
    text-decoration: none;
    border-radius: 20px;
}

.box2 li a.current {
    /*commonファイルのjs適用ハイライトカラー*/
    background-color: rgb(129, 62, 8);
    color: rgb(255, 0, 0);
}

.box2 li:hover {
    /*マウスオーバー*/
    opacity: 0.5;
}

.box2 ul:after {
    /*クリアフィクス*/
    display: block;
    content: "";
    clear: both;
}


/*topイメージslidbar*/

.box3 {
   position: relative;
    width: 980px;
    margin: 30px auto;
    z-index: 4
    /*左右の余白を均等にする*/
}

/*.box3 #gorila2 {
    position: absolute;
    opacity: 0.7;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 3;
}*/

.box3 ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.box3 img {
    margin: 0;
    padding: 0;
}

.box3 ul {
position: relative;
}
.box3 #musle img {
 position: relative;
 }

.box3 #musle p {
  position: absolute;
  z-index: 4;
  color: red;
}


/*ライブ情報*/

.box4 {
    position: relative;
    width: 980px;
    margin: 20px auto;
}

.box4 #ushi1 {
    position: absolute;
    opacity: 0.5;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 3;
}

.box4 h1 {
    padding: 10px;
    border-left: solid 10px;
    border-bottom: solid 1px;
    border-color: rgb(14, 150, 23);
}

.box4 th {
    padding: 10px;
    /*padding-right: 10px;
  padding-bottom: 10px;*/
}

.box4 td {
    padding: 10px;
    /*padding-bottom: 10px;*/
}

.box4 img {
    display: block;
}


/*SNS情報*/

.box6 {
    width: 980px;
    margin: 20px auto;
}

.box6 h1 {
    padding: 10px;
    border-left: solid 10px;
    border-bottom: solid 1px;
    border-color: rgb(14, 150, 23);
}


/*コピーライト*/

.copyright p {
    margin: 0;
    color: #666666;
    font-size: 16px;
    text-align: center;
}

.box5 {
    background-color: #dddddd;
    padding-top: 15px;
    padding-bottom: 15px;
}
