body {
    margin: 0;
    background-image: url("pictures/wood2.jpg");
}

.shimizu:after {
    display: block;
    content: "";
    clear: both;
}

.leftbar {
    /*position: absolute;
    top: 30px;
    left: 30px;
    width: 150px;
    height: 500px;*/
    float: left;
    width: 10%;
    height: auto;
    background-color: green;
}

.leftbar ul {
  list-style: none;
  margin: 10px 0;
  padding: 10px 0;
  background-color: green;
}

.leftbar li {
  margin: 10px 0;
}

.a {
    /*overflow: scroll;
    width: 900px;
    height: 1500px;
    position: absolute;
    top: 800px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;*/
    overflow: scroll;
    float: left;
    background-color: white;
    width: 80%;
    height: 800px;
    >>>>>>>80846563fc73e2de67b250c03f709afc3f7f65df
}

.b {
    float: left;
    width: 25%;
    height: auto;
}

.b p {
    <<<<<<< HEAD=======background-color: #CCC;
    >>>>>>>80846563fc73e2de67b250c03f709afc3f7f65df padding: 10px;
    border: 2px ;
    margin: 10px;
}

.c {
    float: left;
    width: 25%;
    height: auto;
}

.d {
    float: left;
    width: 25%;
    height: auto;
}

.e {
    float: left;
    width: 25%;
    height: auto;
}

.f {
    float: left;
    width: 25%;
    height: auto;
}

.g {
    float: left;
    width: 25%;
    height: auto;
}

.h {
    float: left;
    width: 25%;
    height: auto;
}

.i {
    float: left;
    width: 25%;
    height: auto;
}

.kin {
    width: 10%;
}



/*自然の環境*/
.j {
  float: left;
  width: 25%;
  height: auto;
  clear: both;

}

.j-mago {
  float: left;
  width: 25%;
  height: auto;
}

.k {
    float: left;
    width: 25%;
    height: auto;
}

.k-mago {
    float: left;
    width: 25%;
    height: auto;
}

.l {
    float: left;
    width: 30%;
    height: auto;
}

.l-mago {
    float: left;
    width: 20%;
    height: auto;
}

.m {
    float: left;
    width:23%;
    height: auto;
}

.m-mago {
    float: left;
    width: 26%;
    height: auto;

}

.arrow_box {
	position: relative;
	background: #88b7d5;
	border: 4px solid #c2e1f5;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #88b7d5;
	border-width: 20px;
	margin-left: -20px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #c2e1f5;
	border-width: 26px;
	margin-left: -26px;
}

=======.kin {
    width: 10%;
    >>>>>>>80846563fc73e2de67b250c03f709afc3f7f65df
}
