body {
  margin: 0;
    background-image: url("pictures/back-ground2.jpg");
}



.header {
    margin-top: 100;
  　padding-top: : 1px;<
    height: 100px;
    width: 1500px;
      background-image: url("pictures/sakura.jpg");
}

.main {
    background-color: #FFFFCC;
    height: 1100px;
    width: 1000px;
}


/*クリアフィクス*/

.main:after {
    display: block;
    content: "";
    clear: both;
}

.sidebar {
    /*background-image: url("pictures/yosiko2.jpg");
  background-color: #DAFFE7;
  height: 25%;*/
    float: left;
    width: 25%;
    height: auto;
}

.contents {
    float: left;
    width: 25%;
    height: auto;
}

.takashi_sidebar {
    float: left;
    width: 25%;
    height: auto;
}

.takashi_contents {
    float: left;
    width: 25%;
    /*height: auto;*/
}

.kenji {
    float: left;
    width: 26%;
    height: auto;
}

.kenji_contents {
    float: left;
    width: 25%;
    height: auto;
}

.shinpo {
    float: left;
    width: 25%;
    height: auto;
}

.shinpo_contents {
    float: left;
    width: 24%;
    height: auto;
}

.text {
  clear: both;
  width: 100%;
  height: auto;
}
